<div class='spree-head'>
  <figure>
    <%= pdf_logo %>
  </figure>
</div>
<h3 id="report-head">
  <%= Spree.t(@report_name) %>
</h3>

<table class="table table-bordered" id="admin-insight" data-hook>
  <thead>
    <tr>
      <% @report.headers.each do |_header_| %>
        <th><%= Spree.t(_header_[:value], scope: [:insight, @report_name], default: _header_[:name]) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @report.observations.each do |stat| %>
      <tr>
        <% @report.headers.each do |head| %>
          <td><%= stat.public_send(head[:value]) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
