/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
*/

.page-select {
  padding: 0px 6px 0px 6px;
}

#report-container .filter-well {
  margin: 5px 0px 10px 0px;
}

.select-box-slide {
  margin-left: 3px;
}

#page-selector {
  margin-right: 5px;
}

#table-helpers .col-md-2 {
  padding-left: 3px;
}

.chart-title {
  padding-right: 5px;
}

.sortable-arrow {
  color: #2F85D5;
}

.loss-indicator {
  color: red;
}

.profit-indicator {
  color: green;
}
